.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.text-gray-800 {
  --tw-text-opacity: 1;
}

.font-extrabold {
  font-weight: 600;
}

.text-4xl {
  font-size: 2.10rem;
  line-height: 2.5rem;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(17,24,39,var(--tw-text-opacity));
}
.font-black {
    font-weight: 900;
}
.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}
.text-center {
    text-align: center;
}
.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

.subheading {
  color: gray;
}